In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv(r"C:\Users\Natasha\Downloads\Top_rated_movies1.csv\Top_rated_movies1.csv",parse_dates=['release_date'])
df
df.head()

,id,title,overview,popularity,release_date,vote_average,vote_count
0,168705,BloodRayne,"In 18th-century Romania, after spending much o...",17.499,2005-10-22,4.105,501
1,19766,Inspector Gadget 2,"After capturing Claw, all the criminals have g...",20.772,2003-03-11,4.100,342
2,248705,The Visitors: Bastille Day,"Stuck in the corridors of time, Godefroy de Mo...",18.828,2016-03-23,4.090,636
3,17711,The Adventures of Rocky & Bullwinkle,Rocky and Bullwinkle have been living off the ...,16.436,2000-06-30,4.075,335
4,580,Jaws: The Revenge,"After another deadly shark attack, Ellen Brody...",30.996,1987-07-17,4.064,931

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8831 entries, 0 to 8830
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8831 non-null   int64
 1   title         8831 non-null   object
 2   overview      8830 non-null   object
 3   popularity    8831 non-null   float64
 4   release_date  8831 non-null   datetime64[ns]
 5   vote_average  8831 non-null   float64
 6   vote_count    8831 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 483.1+ KB

In [4]:
df.describe()

                 id   popularity  vote_average    vote_count
count  8.831000e+03  8831.000000   8831.000000   8831.000000
mean   1.775555e+05    33.136177      6.639059   1969.126486
std    2.352400e+05    49.108903      0.794924   3059.560533
min    5.000000e+00     0.600000      2.106000      1.000000
25%    9.927500e+03    16.729000      6.113500    469.000000
50%    3.387500e+04    23.804000      6.662000    846.000000
75%    3.345215e+05    35.751500      7.205000   1966.000000
max    1.151534e+06  1766.305000      8.708000  34794.000000

In [8]:
df.nunique()

id              8811
title           8514
overview        8807
popularity      7971
release_date    5635
vote_average    2922
vote_count      3339
dtype: int64

In [9]:
df.drop(columns='id',inplace=True)

In [10]:
df.title.nunique()

8514

In [12]:
df.title.value_counts()

title
Return                        5
Pinocchio                     4
Beauty and the Beast          4
Taxi                          4
King Kong                     3
                             ..
The Andromeda Strain          1
Love Don't Co$t a Thing       1
Radio Days                    1
The Report                    1
Birdemic: Shock and Terror    1
Name: count, Length: 8514, dtype: int64